@page "/AntGridPage"

<h3>AntGridPage</h3>

<Table TItem="Model"
       DataSource="@Items"
       Loading="IsLoading"
       Bordered
       Total="Total"
       PageIndex="PageIndex"
       PageSize="PageSize"
       OnPageIndexChange="OnPageChanged"
       ScrollX="300">
    <Column ShowSorterTooltip="false" Title="Id" @bind-Field="@context.Id" Width="80" Sortable Filterable/>
    <Column ShowSorterTooltip="false" Title="FirstName" @bind-Field="@context.FirstName" Sortable Filterable/>
    <Column ShowSorterTooltip="false" Title="LastName" @bind-Field="@context.LastName" Sortable Filterable/>
    <Column ShowSorterTooltip="false" Title="Email" @bind-Field="@context.Email" Sortable Filterable/>
    <Column ShowSorterTooltip="false" Title="Value" @bind-Field="@context.Value" Sortable Filterable/>
</Table>